spring:
  application:
    name: BidBridge Simulator
server:
  port: 8081
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never

dsps:
  file: "../dsps.yml"
  pollIntervalMs: 2000
