spring:
  application:
    name: BidBridge Simulator
  profiles:
    default: local
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never
