spring:
  application:
    name: BidBridge Engine
  profiles:
    default: local
  codec:
    max-in-memory-size: 2MB
server:
  port: 8080
management:
  info:
    git:
      enabled: true
      mode: full
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
logging:
  level:
    root: INFO
    ro.dede.bidbridge.engine: INFO
  pattern:
    console: "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level %logger{36} [%X{requestId:-system}] [%X{caller:-unknown}] - %msg%n"
