spring:
  application:
    name: BidBridge Engine
  codec:
    max-in-memory-size: 2MB
server:
  port: 8080
management:
  info:
    git:
      enabled: true
      mode: full
  endpoints:
    web:
      exposure:
        include: health,info
logging:
  level:
    root: INFO
    ro.dede.bidbridge.engine: INFO
